<form action="/" method="post">
<input name="vegetal" type="text"  required>
<br>
<label for="">Descripción</label><br>
<input type="text" name="descripcion" style="width:100%"><br>
<label for="">Pasos</label><br>
<label>Subir los pasos de esta form    Paso 1 bla bla bla --- Paso2 bla bla bla --- Paso 3 bla bla ba</label><br>
<label for="">Importantes separa los pasos con 3 guiones "---"</label><br>
<input type="text" name="pasos" style="width:100%">
<br>
<button type="submit">Subir info</button>

<div style="margin:30px">
    {{#if success_msg}}
    <div style="background-color:green; height:200px; width:100%">{{success_msg}}</div>
    {{/if}}
</div>
</form>